
language: c

os: 
- linux
- windows
- osx

jobs:
  include:
    - stage: build
      script: 
      - "mkdir build"
      - "cd build"
      - "cmake \"Visual Studio 16 2019\" .."
      - "cmake --build . --config Release"
      - if [ $TRAVIS_OS_NAME != windows ]; then ./tst/ExampleProject_tst; fi
    - stage: deploy
      script: skip
      deploy: 
       access_key_id: AKIAIK7PITYV72RQ2AXQ
       bucket: ivanshishlyannikovbucket1
       provider: s3
       secret_access_key: OhdS9SKF/2vz1UfYWMnc/4yY9aRnN/yQyqNz2QwH
       skip_cleanup: true
       true: 
       branch: frontEnd
