deploy:
  provider: s3
  access_key_id: "AKIAIK7PITYV72RQ2AXQ"
  secret_access_key: "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"
  bucket: "ivanshishlyannikovbucket1"
  skip_cleanup: true
  on:
    branch: frontEnd

language: c
os: windows
script: 
  - "mkdir build"
  - "cd build"
  - "cmake \"Visual Studio 16 2019\"" .."
  - "cmake --build . --config Release"
  - ./tst/ExampleProject_tst